/* Saman Gharatchorlou */

/* Fonts */
h1,h2 {
  font-family: 'Montserrat','PT Sans Narrow', 'Verdana';
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  height: 50px;
  margin: 0px;
  padding: 0px;
}

/* Header */
.header {
  height: 400px;
  width: 100%;
  background: url('https://images.unsplash.com/photo-1456428199391-a3b1cb5e93ab?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=db130336e8134fc3f734dbc4318f5c5e');
  background-size: 100% auto;
  background-position: 50% 40%;
  margin: 0px;
  padding: 0px;
}

/* Main */
.about{
  height: 350px;
  background-color: #2ABCA7;
}

.about #aboutText{
  margin: auto;
  padding: 25px;
  width: 50%;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.main .row {
  display: inline;
}

.rowContainer {
  border-bottom: solid #e6e6e8;
  border-width: 2px;
}

.main img {
  display: block;
  height: 300px;
  margin: auto;
  vertical-align: middle;
}

#RISKimg {
  height: 370px;  
}

.main img:hover {
  border: 1px solid black;
}


/* TAB STYLES */
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
  padding: 0px 50px 0px 50px;
}
.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
  color: black;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center;
}
.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 1px solid #fd264f;
}
.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 2px solid #fd264f;
}
.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1;
}



/* TAB 1*/
.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* TAB 2 */
.tabs [class^="tab2"] [type="radio"] + div,
.tabs [class*="tab2"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* TAB 3 */
.tabs [class^="tab3"] [type="radio"] + div,
.tabs [class*="tab3"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.tabs .tab-2 {
  width: 33%;
}
.tabs .tab-2 [type="radio"] + div {
  width: 300%;
  margin-left: 00%;
}
.tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0;
}
.tabs .tab-2:nth-child(2) [type="radio"] + div {
  margin-left: 100%;
}
.tabs .tab-2:nth-child(2) [type="radio"]:checked + div {
  margin-left: -100%;
}
.tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 200%;
}
.tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -200%;
}


/* Footer */
.footer {
  height: 60px;
  background-color: #e6e6e8;
}

.footer li {
  position: relative;
  list-style: none;
  line-height: 25px;
  text-decoration: none;
  color: black;
}

.footer li a{
  text-decoration: none;
  color: black;
}

.footer li a:hover{
  text-decoration: underline;
}


/* Form */
.formbody{
  padding-top:25px;
  margin-left:10px;
  margin-right:10px;
}
.containerz {
  max-width:600px;
  margin:0 auto;
  text-align:center;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  background-color:grey;
}
.headz {
  -webkit-border-radius:6px 6px 0px 0px;
  -moz-border-radius:6px 6px 0px 0px;
  border-radius:6px 6px 0px 0px;
  background-color:#2ABCA7;
  color: black;
}
h3 {
  font-family: 'Source Sans Pro',arial,sans-serif;
  color:#FAFAFA;
  text-align:center;
  padding:18px 0 18px 0;
  font-size: 1.7em;
}
input {
  margin-bottom:10px;
}
textarea {
  height:100px;
  margin-bottom:10px;
}
input:first-of-type
{
  margin-top:35px;
}
input, textarea {
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: 'Source Sans Pro',arial,sans-serif;
  border: 1px solid #cecece;
  background: #d7d7d7;
  color:#FAFAFA;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
}
::-webkit-input-placeholder {
   color: #FAFAFA;
}
:-moz-placeholder {
   color: #FAFAFA;  
}
::-moz-placeholder {
   color: #FAFAFA; 
}
:-ms-input-placeholder {  
   color: #FAFAFA;  
}
.button {
  margin-top:15px;
  margin-bottom:25px;
  background-color:#2ABCA7;
  padding: 12px 45px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #2ABCA7;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
  width:30%;
  color:#fff;
}
.button:hover, .button:hover {
  background:#19a08c;
}
label.error {
    font-family:'Source Sans Pro',arial,sans-serif;
    font-size:1em;
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#d89c9c;
    width: 80%;
    margin:auto;
    color: black;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}
/* media queries */
@media (max-width: 700px) {
  label.error {
    width: 90%;
  }
  input, textarea {
    width: 90%;
  }
  button {
    width:90%;
  }
  body {
  padding-top:10px;
  }  
}
.message {
    font-family:'Source Sans Pro',arial,sans-serif;
    font-size:1.1em;
    display:none;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#2ABCA7;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}


